
<main>
    <body>
    <div id="bg-overlay"></div>
    </body>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <input type="text"   name= "named"class="form-control" placeholder="Nome do produto" required>
                    <input type="number" name= "price"class="form-control" placeholder="Valor do produto" step="0.01" min="0" required>
                    <input type="file"   name= "imaged"class="form-control" >
                    <input type="submit" class="btn btn-secondary" value="cadastrar">

                </form>
            </div>
        </div>
    </div>

    {{!-- Listagem de produtos --}}
    <div class="container">
        <div class="row">
            {{#each produtos}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card" data-image="{{imaged}}">
                    <div class="card-image" data-cod="{{cod}}" data-image="{{imaged}}" data-named="{{named}}" data-price="{{price}}">
                        <img src="../images/{{imaged}}">
                    </div>
                    <div class="info">
                        <p>{{named}}</p>
                        <p>R${{price}}</p>
                    </div>
                    <div class="card-btn">
                        <button class="btn btn-warning changeBtn" id="change-btn">Alterar</button>
                        <button class="btn btn-danger removerBtn" id="remove-btn">Remover</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- Tela para confirmar remoção --}}
    <div class="modal fade" id="modalRemover">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content-remover">
                <div class="modal-header" id="modal-header-remover">
                    <h3>Deseja remover este produto?</h3>
                </div>
                <div class="modal-body" id="modal-body-remover" data-image="{{imaged}}">
                    <img src="" id="modal-image">
                    <p id="nome-produto-remover"></p>
                </div>
                <div class="modal-footer" id="modal-footer-remover">
                    <button class="btn btn-success" id="confirmar-btn-remover">CONFIRMAR</button>
                    <button class="btn btn-danger" id="cancelar-btn-remover">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Tela para realizar alteração --}}
    <div class="modal fade" id="modalAlterar">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content-edit">
                <div class="header" id="header-edit">
                    <h3>EDITING</h3>
                </div>
                <div class="modal-body" id="modal-body-edit">
                    <form enctype="multipart/form-data" id="form-alterar">
                        <input type="text"  id="name-prod" class="form-control" placeholder="Nome do produto" required>
                        <input type="number" id="price-prod" class="form-control" placeholder="Valor do produto" step="0.01" min="0" required>
                        <input type="file"   name="newImageFile" id="image-file" class="form-control" >
                    </form>
                </div>
                <div class="modal-footer col-sm-6" id="modal-footer-edit">
                    <input type="submit" class="btn btn-secondary" value="Edit" id="btn-editar">
                    <button class="btn btn-primary" id="cancelarBtnAlterar">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</main>