
<main>
    <body>
    <div id="bg-overlay"></div>
    </body>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <input type="text"   name= "named"class="form-control" placeholder="Nome do produto" required>
                    <input type="number" name= "price"class="form-control" placeholder="Valor do produto" step="0.01" min="0" required>
                    <input type="file"   name= "imaged"class="form-control" >
                    <input type="submit" class="btn btn-secondary" value="cadastrar">

                </form>
            </div>
        </div>
    </div>

    {{!-- Listagem de produtos --}}
    <div class="container">
        <div class="row">
            {{#each produtos}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="card" data-image="{{imaged}}">
                    <div class="card-image" data-image="{{imaged}}">
                        <img src="../images/{{imaged}}">
                    </div>
                    <div class="info">
                        <p>{{named}}</p>
                        <p>R${{price}}</p>
                    </div>
                    <div class="card-btn">
                        <a href="/formularioEditar" class="btn btn-warning" id="change-btn">Alterar</a>
                        <button class="btn btn-danger removerBtn" id="remove-btn">Remover</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- Tela para confirmar remoção --}}
    <div class="modal fade" id="modalRemover">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Deseja remover este produto?</h3>
                </div>
                <div class="modal-body" data-image="{{imaged}}">
                    <img src="" id="modal-image">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="confirmarBtn">SIM</button>
                    <button class="btn btn-danger" id="cancelarBtn">NÃO</button>
                </div>
            </div>
        </div>
    </div>
</main>